<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <title>metamask-login-sample</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div id="app">
      <el-container>
        <el-main>
          <template v-if="user === null">
            <el-button type="primary" v-bind:disabled="isLoginButtonDisabled" @click="login">Login with MetaMask</el-button>
          </template>
          <template v-else>
            <el-form :inline="true" :model="user">
              <el-form-item label="Name">
                <el-input v-model="user.name" placeholder="your name"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="updateUser">Update</el-button>
              </el-form-item>
            </el-form>
            <el-button @click="logout">Logout</el-button>
          </template>
        </el-main>
      </el-container>
    </div>
  </body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/static/js/web3.min.js"></script>
  <script src="/static/js/error.js"></script>
  <script src="/static/js/app.js"></script>
</html>
