<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,shrink-to-fit=no"
    />
    <title>metamask-login-sample</title>
    <link rel="icon" href="./src/img/favicon.ico" />
  </head>
  <body>
    <div id="app">
      <header>
        <h1>metamask-login-sample</h1>
      </header>
      <main>
        <template v-if="user === null">
          <el-button
            type="primary"
            v-bind:disabled="isLoginButtonDisabled"
            @click="login"
            >Login with MetaMask</el-button
          >
        </template>
        <template v-else>
          <el-form :model="user">
            <el-form-item label="Address">
              <el-input v-model="user.address" :disabled="true"></el-input>
            </el-form-item>
            <el-form-item label="Name">
              <el-input v-model="user.name" placeholder="your name"></el-input>
            </el-form-item>
            <el-form-item class="buttons">
              <el-button type="primary" @click="updateUser">Save</el-button>
              <el-button type="danger" @click="deleteUser">Delete</el-button>
              <el-button @click="logout">Logout</el-button>
            </el-form-item>
          </el-form>
        </template>
      </main>
      <footer>
        <a
          href="https://github.com/m0t0k1ch1/metamask-login-sample"
          target="_blank"
          >github.com/m0t0k1ch1/metamask-login-sample</a
        >
      </footer>
    </div>
  </body>
  <script type="module" src="./src/js/app.js"></script>
</html>
