html, body {
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

#app {
    height: 100%;
}

.el-container {
    height: 100%;
    text-align: center;
}

.el-header {
    background-color: #333;
    line-height: 60px;
}

.el-header h1 {
    color: #fff;
    font-weight: bold;
}

.el-main {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.el-form-item {
    margin: 0 0 10px;
}

.el-main .buttons  {
    padding: 20px 0;
}

.el-footer {
    line-height: 60px;
}

.el-footer a {
    color: #ccc;
    font-size: 12px;
}
