body {
    display: flex;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex-grow: 1;
}

header {
    height: 60px;
    background-color: #333;
    text-align: center;
}

header h1 {
    color: #fff;
    font-weight: bold;
    line-height: 60px;
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

main .buttons  {
    padding: 20px 0;
}

main .el-form-item {
    margin: 0 0 10px;
}

footer {
    margin-top: auto;
    height: 60px;
    text-align: center;
}

footer a {
    color: #ccc;
    font-size: 12px;
    line-height: 60px;
}
